@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <video width="480" height="270" controls="controls" preload="auto">
            <source src="/api/video/mp4/sample" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</div>